In [73]:
import pandas as pd
import numpy as np

In [74]:
school_data = pd.read_csv(r"C:\Users\nicho\OneDrive\Desktop\Starter_Code (3)\Starter_Code\PyCitySchools\Resources\schools_complete.csv")

In [75]:
student_data = pd.read_csv(r"C:\Users\nicho\OneDrive\Desktop\Starter_Code (3)\Starter_Code\PyCitySchools\Resources\students_complete.csv")

In [76]:
merge_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [77]:
merge_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [78]:
school_names = merge_df['school_name'].unique()
school_names
total_schools = len(school_names)
total_schools

15

In [79]:
students = merge_df['student_name']
total_students = len(students)
total_students

39170

In [80]:
budget = merge_df['budget']
total_budget = sum(budget)
total_budget

82932329558

In [81]:
math = merge_df['math_score']
avg_mscore = math.mean()
avg_mscore

78.98537145774827

In [82]:
reading = merge_df['reading_score']
avg_rscore = reading.mean()
avg_rscore

81.87784018381414

In [83]:
math_passcount = merge_df[(merge_df['math_score'] >= 70)].count()['student_name']
math_passperc = math_passcount / float(total_students) * 100
math_passperc

74.9808526933878

In [84]:
read_passcount = merge_df[(merge_df['reading_score'] >= 70)].count()['student_name']
read_passperc = read_passcount / float(total_students) *100
read_passperc

85.80546336482001

In [85]:
math_read_passcount = merge_df[
    (merge_df["math_score"] >= 70) & (merge_df["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = math_read_passcount / (total_students) * 100
overall_passing_rate

65.17232575950983

In [92]:
district_summary_df = pd.DataFrame({
    "Total Schools": [total_schools],
    "Total Students": [total_students],
    "Total Budget": [total_budget],
    "Average Math Score": [avg_mscore],
    "Average Reading Score": [avg_rscore],
    "% Passing Math": [math_passperc],
    "% Passing Reading": [read_passperc],
    "% Overall Passing Rate": [overall_passing_rate]
})

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,39170,82932329558,78.985371,81.87784,74.980853,85.805463,65.172326